<div>
    <h1 style="font-size:28px;font-weight:500">Reports</h1>
    <div class="row">
        <div class="col-6">
            <h3 style="color:gray;font-size: 18px;" class="ml-4">Vision Log</h3>
            <div class="mt-2">

                <div>
                    <table width="100%">
                        <tr class="firstrow">
                            <th>DATE</th>
                            <th>TIME</th>
                            <th>SHIFT</th>
                            <th>PART NUMBER</th>
                            <th>PALLET-ID</th>
                            <th>PART QUANTITY-PLAN</th>
                            <th>PART QUANTITY-ACTUAL</th>
                            <th>STATUS</th>
                        </tr>
                        <tr *ngFor="let item of tableData">
                            <td style="font-weight:bold">{{item['date']}}</td>
                            <td style="font-weight:bold">{{item['time']}}</td>
                            <td style="font-weight:bold">{{item['shift']}}</td>
                            <td style="font-weight:bold;">{{item['partNo']}}</td>
                            <td style="font-weight:bold">{{item['palletId']}}</td>
                            <td style="font-weight:bold">{{item['partQtyPlan']}}</td>
                            <td style="font-weight:bold">{{item['partQtyActual']}}</td>
                            <td *ngIf="item['status']=='Reject'">
                                <span class="statusText"
                                    style="background-color:rgb(255, 90, 90);padding: 10px 59px;">{{item['status']}}</span>
                            </td>
                            <td *ngIf="item['status']=='Completed'">
                                <span class="statusText"
                                    style="background-color:rgb(32, 216, 39);padding: 10px 45px;">{{item['status']}}</span>
                            </td>
                            <td *ngIf="item['status']=='PartialClosed'">
                                <span style="background-color:rgb(192, 192, 192);padding: 10px 38px;"
                                    class="statusText">{{item['status']}}</span>
                            </td>
                            <td *ngIf="item['status']=='NotCompleted'">
                                <span class="statusText"
                                    style="background-color:rgb(90, 136, 255);">{{item['status']}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h3 style="color:gray;font-size: 18px;" class="ml-4">Inventory-Unfilled Area</h3>
            <div class="mt-2">

                <div>
                    <table width="100%">
                        <tr class="firstrow">
                            <th>DATE</th>
                            <th>TIME</th>
                            <th>SHIFT</th>
                            <th>PART NUMBER</th>
                            <th>PALLET-ID</th>
                            <th>PART QUANTITY-PLAN</th>
                            <th>PART QUANTITY-ACTUAL</th>
                            <th>STATUS</th>
                        </tr>
                        <tr *ngFor="let item of tableData">
                            <td style="font-weight:bold">{{item['date']}}</td>
                            <td style="font-weight:bold">{{item['time']}}</td>
                            <td style="font-weight:bold">{{item['shift']}}</td>
                            <td style="font-weight:bold;">{{item['partNo']}}</td>
                            <td style="font-weight:bold">{{item['palletId']}}</td>
                            <td style="font-weight:bold">{{item['partQtyPlan']}}</td>
                            <td style="font-weight:bold">{{item['partQtyActual']}}</td>
                            <td *ngIf="item['status']=='Reject'">
                                <span class="statusText"
                                    style="background-color:rgb(255, 90, 90);padding: 10px 59px;">{{item['status']}}</span>
                            </td>
                            <td *ngIf="item['status']=='Completed'">
                                <span class="statusText"
                                    style="background-color:rgb(32, 216, 39);padding: 10px 45px;">{{item['status']}}</span>
                            </td>
                            <td *ngIf="item['status']=='PartialClosed'">
                                <span style="background-color:rgb(192, 192, 192);padding: 10px 38px;"
                                    class="statusText">{{item['status']}}</span>
                            </td>
                            <td *ngIf="item['status']=='NotCompleted'">
                                <span class="statusText"
                                    style="background-color:rgb(90, 136, 255);">{{item['status']}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <h3 style="color:gray;font-size: 18px;" class="ml-4 mt-3">Pallet Box Log</h3>
    <div class="mt-2 mb-2">

        <div>
            <table width="100%">
                <tr class="firstrow">
                    <th>DATE</th>
                    <th>TIME</th>
                    <th>SHIFT</th>
                    <th>PART NUMBER</th>
                    <th>PALLET-ID</th>
                    <th>PART QUANTITY-PLAN</th>
                    <th>PART QUANTITY-ACTUAL</th>
                    <th>STATUS</th>
                </tr>
                <tr *ngFor="let item of tableData">
                    <td style="font-weight:bold">{{item['date']}}</td>
                    <td style="font-weight:bold">{{item['time']}}</td>
                    <td style="font-weight:bold">{{item['shift']}}</td>
                    <td style="font-weight:bold;">{{item['partNo']}}</td>
                    <td style="font-weight:bold">{{item['palletId']}}</td>
                    <td style="font-weight:bold">{{item['partQtyPlan']}}</td>
                    <td style="font-weight:bold">{{item['partQtyActual']}}</td>
                    <td *ngIf="item['status']=='Reject'">
                        <span class="statusText"
                            style="background-color:rgb(255, 90, 90);padding: 10px 59px;">{{item['status']}}</span>
                    </td>
                    <td *ngIf="item['status']=='Completed'">
                        <span class="statusText"
                            style="background-color:rgb(32, 216, 39);padding: 10px 45px;">{{item['status']}}</span>
                    </td>
                    <td *ngIf="item['status']=='PartialClosed'">
                        <span style="background-color:rgb(192, 192, 192);padding: 10px 38px;"
                            class="statusText">{{item['status']}}</span>
                    </td>
                    <td *ngIf="item['status']=='NotCompleted'">
                        <span class="statusText" style="background-color:rgb(90, 136, 255);">{{item['status']}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>