table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

th,
td {
    padding: 1em;
    background: rgb(244, 247, 250);
    border-bottom: 1.5px solid #ddd6d6;
}

th {
    color: gray;
    font-size: 16px;
    font-weight: 300;
}

.firstrow th {
    border-bottom: 2px solid rgb(53, 121, 187);

}

.statusText {

    color: white;
    font-weight: 500;
    padding: 10px 35px;
    border-radius: 5px;
}