<mat-dialog-content>
    <div style="display: flex;justify-content: flex-end;">
        <mat-icon (click)="closeConfirm()">close</mat-icon>
    </div>
    <h1 style="font-weight:bold">Confirm Pallet Details</h1>
    <h3 style="color:gray">
        Confirm your scanned pallet details before you start
    </h3>
    <div style="display:flex;flex-direction:row">
        <div>
            <h3 class="heading">Part Number</h3>
            <h3 class="heading">Pallet Part Quantity</h3>
            <h3 class="heading">Total Boxes in Pallet</h3>
            <h3 class="heading">Box Part Quantity</h3>
            <h3 class="heading">Outbound Feed</h3>
            <h3 class="heading">Paking Type</h3>
            <h3 class="heading">Paking Index</h3>
        </div>
        <div class="ml-3">
            <h3 class="colon">:</h3>
            <h3 class="colon">:</h3>
            <h3 class="colon">:</h3>
            <h3 class="colon">:</h3>
            <h3 class="colon">:</h3>
            <h3 class="colon">:</h3>
            <h3 class="colon">:</h3>

        </div>
        <div class="ml-3">
            <h3 class="colon">{{data.FGPartNumber}}</h3>
            <h3 class="colon">{{data.PalletQty}}</h3>
            <h3 class="colon">{{data.TotalBoxes}}</h3>
            <h3 class="colon">{{data.BoxQty}}</h3>
            <h3 class="colon">{{data.outboundfeed}}</h3>
            <h3 class="colon">{{data.pakingType}}</h3>
            <h3 class="colon">{{data.PackingIndex}}</h3>

        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button tabindex="-1" style="border:1px solid rgb(53, 121, 187)" (click)="scanAgain()">Scan
        Again</button>

    <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">Confirm Pallet</button>
</mat-dialog-actions>