<div align="center" style="width:400px;height:50%">
    <h1>Change Password</h1>
    <form class="login-form mt-5" [formGroup]="pwdForm">
        <div>
            <mat-label>Current Password</mat-label>
            <br>
            <mat-form-field appearance="outline" class="input-field">
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="pwd">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="mt-3">
            <mat-label>New Password</mat-label>
            <br>
            <mat-form-field appearance="outline" class="input-field">
                <input matInput formControlName="newpwd" [type]="hide1 ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide1">
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="mt-3">
            <mat-label>Confirm New Password</mat-label>
            <br>
            <mat-form-field appearance="outline" class="input-field">
                <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="cnewpwd">
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide2">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            <button mat-raised-button color="primary" class="ml-2" (click)="onSubmit()">Submit</button>
        </div>
    </form>
</div>