ul {
    color: tomato;
}

label {
    display: inline-block;
    background-color: rgb(53, 121, 187);
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

.download-btn {
    display: flex;
    align-items: center;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}