<div class="main">
    <div>
        <h1>Master Data</h1>
        <h3>Pallet Matrix</h3>
    </div>
    <div>
        <button class="download-btn"><mat-icon>download</mat-icon>Download</button>
    </div>
</div>


<hr>
<div class="file-upload-button">
    <h3>You need to upload file with these Fields:</h3>
    <ul *ngFor="let item of columnsList">
        <li>{{item}}</li>
    </ul>
    <input type="file" id="upload"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" hidden
        (change)="onFileSelect($event)" />
    <label for="upload">Upload PalletMatrix</label>
    <p>{{filename}}</p>
</div>