<div>
    <img src="assets/Images/barcodescanner.png" class="scannerImg" style="width:100%">
    <button class="btn" (click)="scanData()">Scan the Pallet</button>
    <div class="mt-5">
        <div class="filterDiv">
            <h2>Pallet Details</h2>
            <div>
                <button mat-raised-button color="primary" class="filter" (click)="filterTable()">Filter</button>
                <button mat-raised-button color="accent" class="ml-3 clear" (click)="clearFilter()"
                    [disabled]="isClear">Clear</button>
            </div>

        </div>

        <div class="tableDiv">
            <table width="100%">
                <tr class="firstrow">
                    <th *ngFor="let title of tableCols"><span>{{title}}<mat-icon
                                *ngIf="title=='DATE'||title=='SHIFT'||title=='PART NUMBER'||title=='PALLET-ID'||title=='STATUS'"
                                (click)="filterdata(title)">arrow_drop_down</mat-icon></span>
                        <div *ngIf="(title=='DATE'&& isShow)">
                            <mat-form-field appearance="fill">
                                <mat-label>Select {{title}}</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate placeholder="Start date" [(ngModel)]='start'>
                                    <input matEndDate placeholder="End date" [(ngModel)]="end">
                                </mat-date-range-input>
                                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                        <div *ngIf="(title=='SHIFT'&& isShow1)||(title=='STATUS'&& isShow4)">
                            <mat-form-field>
                                <mat-select [placeholder]='"Select"+" "+ title' [formControl]="toppings" #matSelect
                                    [(ngModel)]="selectedValues" multiple>
                                    <!-- (ngModelChange)="filterSelectedValues(title,$event)" -->
                                    <div *ngIf="title=='SHIFT'&& isShow1">
                                        <mat-option *ngFor="let value of filteredData"
                                            [value]="value">{{value=='A'?'Shift A':(value=='B'?'Shift B':'Shift
                                            C')}}</mat-option>
                                    </div>
                                    <div *ngIf="title=='STATUS'&& isShow4">
                                        <mat-option *ngFor="let value of filteredData"
                                            [value]="value">{{value=='1'?'Completed':(value=='2'?'Partial
                                            Closed':(value=='3'?'RejectedPallet':'Rejected'))}}</mat-option>
                                    </div>

                                    <hr>
                                    <!-- Global overried for .mat-select-panel max-height at style.css -->
                                    <div class="row no-gutters pb-1">
                                        <div class="col-sm-6 text-right pr-2">
                                            <button type="button" class="btn1 btn-primary"
                                                (click)="okClicked(title)">Ok</button>
                                        </div>
                                        <div class="col-sm-6 text-right  pr-2">
                                            <button type="button" class="btn1 btn-danger"
                                                (click)="cancelClicked()">Cancel</button>
                                        </div>
                                    </div>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="(title=='PART NUMBER'&& isShow2)">
                            <mat-form-field class="example-form-field">
                                <mat-label>Enter {{title}}</mat-label>
                                <input matInput type="text" [(ngModel)]="part_num">
                                <button *ngIf="part_num" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="part_num=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </th>
                </tr>

                <tr *ngFor="let item of tableData">
                    <td>{{item['PalletId']}}</td>
                    <td>{{item['Date']}}</td>
                    <td>{{item['Time']}}</td>
                    <td>{{item['Shift']=='A'?'Shift A':(item['Shift']=='B'?'Shift B':'Shift C')}}
                    </td>
                    <td>{{item['PartNumber']}}</td>
                    <td>{{item['PalletQtyPlan']}}</td>
                    <td>{{item['PalletQtyActual']}}</td>
                    <td>{{item['NoOfBoxes']}}</td>
                    <td>
                        <div class="statusText"
                            [ngStyle]="{'background-color':item['PalletStatus']=='4'? 'rgb(255, 90, 90)' : (item['PalletStatus']=='1'?'rgb(32, 216, 39)':(item['PalletStatus']=='2'?'rgb(192, 192, 192)':'rgb(90, 136, 255)')) }">
                            {{item['PalletStatus']=='1'?'Completed':(item['PalletStatus']=='2'?'PartialClosed':(item['PalletStatus']=='3'?'RejectedPallet':'Rejected'))}}
                        </div>
                    </td>
                </tr>


            </table>
            <div *ngIf="tableData.length==0" class="nodata">
                NO DATA FOUND
            </div>
        </div>
    </div>
</div>
<div class="center" *ngIf="isLoading">
    <mat-spinner diameter="60"></mat-spinner>
</div>