.scannerImg {
    width: 100%;

}

h2 {
    color: gray;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    position: relative;


}

.tableDiv {
    max-width: 100%;
    max-height: 320px;
    overflow: auto;
}

th,
td {
    padding: 1em;
    background: rgb(244, 247, 250);
    border-bottom: 1.5px solid #ddd6d6;
    font-weight: 500;
    font-size: 18px;
}

th {
    color: gray;
    font-size: 16px;
    font-weight: 300;
    position: sticky;
    top: 0;
}

.firstrow th {
    border-bottom: 2px solid rgb(53, 121, 187);


}


.btn {
    position: sticky;
    margin-top: -10%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(53, 121, 187);
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    width: 30%;
}

.btn:hover {
    background-color: lightslategray;
}

.btn1 {
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.statusText {
    color: white;
    font-weight: 500;
    // padding: 10px 35px;
    border-radius: 5px;
    width: 180px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    display: flex;
    align-items: center;
}

::ng-deep .mat-form-field-type-mat-date-range-input .mat-form-field-infix {
    width: 240px !important;
    display: flex !important;
    align-items: center !important;
}

.filterDiv {
    display: flex;
    justify-content: space-between;
}

.filter {
    background-color: rgb(53, 121, 187);
    color: white;
}

.clear {
    background-color: rgb(255, 90, 90);
    color: white
}

.mat-icon {
    color: steelblue;
}

.nodata {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}