<i class="material-icons close-btn" (click)="onClose()">clear</i>
<h2 mat-dialog-title class="modal-heading mt-3">{{message}} Record</h2>

<form [formGroup]="palletForm">
    <mat-grid-list cols="1" rowHeight="500">
        <mat-grid-tile>
            <div class="controles-container center-align ">
                <mat-form-field appearance="outline" *ngIf="message=='Update'">
                    <mat-label> PalletMatrixID</mat-label>
                    <input formControlName="PalletMatrixId" matInput placeholder="PalletmatrixId*">
                    <mat-error>{{required}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>FG Part Number</mat-label>
                    <input formControlName="FGPartNumberOriginal" matInput placeholder="FG Part Number*">
                    <mat-error>{{required}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Part Number</mat-label>
                    <input formControlName="FGPartNumber" matInput placeholder="Part Number*">
                    <mat-error>{{required}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Box/Bin Qty</mat-label>
                    <input formControlName="BoxQty" matInput placeholder="Box/Bin Qty*">
                    <mat-error>{{required}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Pallet Qty</mat-label>
                    <input formControlName="PalletQty" matInput placeholder="Pallet Qty*">
                    <mat-error>{{required}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Paking Index</mat-label>
                    <input formControlName="PackingIndex" matInput placeholder="PackingIndex*">
                    <mat-error>{{required}}</mat-error>
                </mat-form-field>
                <div class="button-row center-align">
                    <button mat-raised-button class="apply_button" type="submit" (click)="submit()">{{message}}</button>
                    <button mat-raised-button class="btn-float btn-clear mr-4 ml-2" type="reset"
                        *ngIf="message === 'Update' ? !isHidden : isHidden">Clear</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>