.center-align {
    text-align: center;
}

.close-btn {
    cursor: pointer;
    float: right;
}

.modal-heading {
    text-align: center;
    color: rgb(53, 121, 187);
}

.apply_button {
    background-color: rgb(53, 121, 187);
    color: white;
}

.btn-clear {
    background-color: red !important;
    color: white !important;
}