.barcodedetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(244, 247, 250);
    padding: 20px 25px;
    border-radius: 15px;
}

.textpart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scanbtn {
    width: 250px;
    padding: 10px 25px;
    font-size: 18px;
    border: 1.5px solid rgb(53, 121, 187);
    border-radius: 15px;
    letter-spacing: 1px;

}

.startbtn {
    width: 250px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 300;
    border: 1.5px solid rgb(53, 121, 187);
    border-radius: 15px;
    background-color: rgb(53, 121, 187);
    letter-spacing: 2px;
    color: white;
}

.palletlevelcheck {
    border: 2px solid rgb(53, 121, 187);
    width: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 40px
}

.doneicon {
    background-color: rgb(53, 121, 187);
    color: white;
    margin-left: 0px;
    height: 40px;
    width: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.palletLevelBtn {
    width: 150px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 18px;
    justify-content: center;
}

.packingtype {
    display: flex;
    flex-direction: row;
    background-color: rgb(244, 247, 250);
    padding: 20px 20px;
    align-items: center;
    border-radius: 10px;
}

.detailsText {
    font-weight: 400;
}

.user-avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    background-color: rgb(221, 228, 233);
    display: grid;
    place-items: center;
    font-size: 14px;

}

// .links {
//     // padding: 0 10px;
//     border-top: 3px solid #000;
//     height: 1px;
//     line-height: 0.1em;
//     width: 20vw;
//     margin-left: 20px;
//     margin-right: 20px;
// }

.user-avatar1 {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    background-color: rgb(32, 216, 39);
    color: white;
    display: grid;
    place-items: center;
    font-size: 14px;
}

.links1 {
    // padding: 0 10px;
    border-top: 3px solid rgb(32, 216, 39);
    height: 1px;
    line-height: 0.1em;
    width: 10vw;
    margin-left: 20px;
    margin-right: 20px;
}

.user-avatar2 {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    background-color: rgb(253, 178, 7);
    color: white;
    display: grid;
    place-items: center;
    font-size: 14px;

    &:after {
        content: '';
        position: absolute;
        display: grid;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgb(253, 178, 7);
        animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }


}

@keyframes pulse-ring {
    0% {
        transform: scale(.33);
    }

    80%,
    100% {
        opacity: 0;
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(.8);
    }
}

.outcircle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid rgb(253, 178, 7);
    flex-shrink: 0;
    object-fit: cover;
    display: grid;
    place-items: center;
    // background-color: rgb(253, 178, 7);
}

.links2 {
    // padding: 0 10px;
    border-top: 3px dotted rgb(253, 178, 7);
    height: 1px;
    line-height: 0.1em;
    width: 10vw;
    margin-left: 20px;
    margin-right: 20px;
}


.stepperTitle {
    font-size: 24px;
    font-weight: 500
}

.completed {
    background-color: rgb(32, 216, 39);
    width: 100px;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
    font-weight: 500;
}

.inprg {
    background-color: rgb(253, 178, 7);
    width: 100px;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
    font-weight: 500;
    animation: blinker 1.5s linear infinite;
}


@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.pending {
    background-color: rgb(221, 228, 233);
    border-radius: 15px;
    // color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
    border: 1px solid gray;
    font-weight: 500;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0 0 8px 0;
}

.searchbar {
    position: fixed;
}