<div>
    <div style="width:100%;display:flex;flex-direction: row;">
        <div>
            <div style="display:flex;flex-direction:row;align-items:center">
                <div class="user-avatar1 "><mat-icon>done</mat-icon></div>
                <div class="ml-3 mt-3">
                    <h1 class="stepperTitle">1.Scan SKU</h1>
                    <p class="completed">completed</p>
                </div>
                <div class="links1"></div>
            </div>

        </div>

        <div>
            <div style="display:flex;flex-direction:row;align-items:center">
                <div class="outcircle">
                    <div class="user-avatar2 "><mat-icon>update</mat-icon></div>
                </div>

                <div class="ml-3 mt-3">
                    <h1 class="stepperTitle">2.Pallet Details</h1>
                    <p class="inprg"> In progress</p>
                </div>
                <div class="links2"></div>
            </div>


        </div>

        <div style="display:flex;flex-direction:row;align-items:center">
            <div class="user-avatar "><mat-icon>inbox</mat-icon></div>
            <div class="ml-3 mt-3">
                <h1 class="stepperTitle">3.Pallet Load</h1>
                <p class="pending">pending</p>
            </div>

        </div>


    </div>

    <h3 style="color:gray;font-size: 18px;" class="ml-4">Scanned Data</h3>

    <div class="mt-3 barcodedetails">
        <div>
            <h2 class="detailsText">FGPart Number </h2>
            <h2 class="detailsText">Part Number</h2>
            <h2 class="detailsText">Pallet Part Quantity</h2>
            <h2 class="detailsText">Paking Index</h2>
            <h2 class="detailsText">Box Part Quantity</h2>
            <h2 class="detailsText">Total Boxes in Pallet</h2>
        </div>
        <div>
            <h2>:</h2>
            <h2>:</h2>
            <h2>:</h2>
            <h2>:</h2>
            <h2>:</h2>
            <h2>:</h2>
        </div>
        <div>
            <!-- <h2>
                <input type="text" #myinput style="width: 100px;border:none" (ngModelChange)="changepart($event)"
                    [(ngModel)]="fgPartNumber">
            </h2> -->

            <h2>

                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="fgPartNumber" (ngModelChange)="changepart($event)">
                        <input class="searchbar mb-5" placeholder="search " (keyup)="onKey($event.target.value)">

                        <mat-option *ngFor="let fgpart of filteredpartNumbers" [value]="fgpart"
                            class="mt-3">{{fgpart}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </h2>

            <!-- <div> -->
            <h2>{{barcodeData['FGPartNumber']}}</h2>
            <!-- </div> -->
            <!-- <div> -->
            <h2>{{barcodeData['PalletQty']}}</h2>
            <!-- </div> -->
            <!-- <div> -->
            <h2>{{barcodeData['PackingIndex']}}</h2>
            <!-- </div> -->
            <!-- <div> -->
            <h2>{{barcodeData['BoxQty']}}</h2>
            <h2 *ngIf="!isEdit">{{barcodeData['TotalBoxes']}}</h2>

            <h2>
                <div class="" *ngIf="isEdit">
                    <input type="text" style="width: 100px;" [(ngModel)]="totalBoxes">
                </div>
            </h2>

            <!-- <h2 *ngIf="!isEdit1">{{barcodeData['BoxQty']}}</h2>
            <h2>
                <div class="" *ngIf="isEdit1">
                    <input type="text" style="width: 100px;" [(ngModel)]="boxesQty">
                </div>
            </h2> -->


        </div>
        <div style="display:flex;justify-content: flex-end;flex-direction: column;margin-bottom: 18px;">
            <div>
                <mat-icon (click)="edit()" *ngIf="!isEdit" class="editicon">edit_outline</mat-icon>
                <div *ngIf="isEdit">
                    <button mat-raised-button color="primary" (click)="save()">Save</button>
                </div>
            </div>
            <!-- <div class="mt-3">
                <mat-icon (click)="edit1()" *ngIf="!isEdit1" class="editicon">edit</mat-icon>
                <div *ngIf="isEdit1">
                    <button mat-raised-button color="primary" (click)="save1()">Save</button>
                </div>
            </div> -->

        </div>

    </div>
    <div class="mt-3">
        <div class="row">
            <div class="col-6">
                <h3 style="color:gray;font-size: 18px;" class="ml-4">Outbound Feed</h3>
                <div class="packingtype">
                    <button (click)="prodline()" *ngIf="!isProdLine" class="palletLevelBtn">Production Line</button>
                    <div class="palletlevelcheck" *ngIf="isProdLine" (click)="prodline()">
                        <mat-icon class="doneicon">done</mat-icon>
                        <span class="ml-4" style="font-size:18px">Production Line</span>
                    </div>
                    <button (click)="unfilledArea()" *ngIf="!isunfilled" class="palletLevelBtn ml-3">Unfilled
                        Area</button>
                    <div class="palletlevelcheck ml-3" *ngIf="isunfilled" (click)="unfilledArea()">
                        <mat-icon class="doneicon">done</mat-icon>
                        <span class="ml-4" style="font-size:18px">Unfilled Area</span>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <h3 style="color:gray;font-size: 18px;" class="ml-4">Packing Type</h3>
                <div class="packingtype">
                    <button (click)="palletlevel()" *ngIf="!isPalletLevel" class="palletLevelBtn">Pallet Level</button>
                    <div class="palletlevelcheck" *ngIf="isPalletLevel" (click)="palletlevel()">
                        <mat-icon class="doneicon">done</mat-icon>
                        <span class="ml-4" style="font-size:18px">Pallet Level</span>
                    </div>
                    <button (click)="boxlevel()" *ngIf="!isBoxLevel" class="palletLevelBtn ml-3">Box Level</button>
                    <div class="palletlevelcheck ml-3" *ngIf="isBoxLevel" (click)="boxlevel()">
                        <mat-icon class="doneicon">done</mat-icon>
                        <span class="ml-4" style="font-size:18px">Box Level</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div style="display: flex;
    justify-content: flex-end;" class="mt-5">
        <button mat-raised-button class="scanbtn" (click)="scanAgain()">Scan Again</button>
        <button mat-raised-button class="startbtn ml-4" (click)="loadstatus()" [disabled]="isStart">Start</button>

    </div>
    <div style="display: flex;
    justify-content: flex-end;" class="mt-2">
        <p style="color:red" *ngIf="isValues">Please select Outbound feed and Packing type</p>
    </div>

</div>
<div class="center" *ngIf="isLoading">
    <mat-spinner diameter="60"></mat-spinner>
</div>