h2 {
    font-weight: 400;
}

.textDiv {
    display: flex;
    flex-direction: row;
    background-color: rgb(244, 247, 250);
    padding: 20px 25px;
    border-radius: 15px;
}



.vertical-row {
    float: left;
    height: 220px;
    width: 1px;
    background-color: black;
}

.btn {
    width: 250px;
    padding: 10px 25px;
    font-size: 20px;
    border: 1.5px solid rgb(53, 121, 187);
    border-radius: 15px;
    letter-spacing: 1px;
}

.btn1 {
    width: 250px;
    padding: 10px 25px;
    font-size: 20px;
    border: 1.5px solid rgb(53, 121, 187);
    background-color: rgb(53, 121, 187);
    border-radius: 15px;
    letter-spacing: 1px;
    color: white;
}

.stepperTitle {
    font-size: 30px;
    font-weight: 500
}



.user-avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    background-color: rgb(253, 178, 7);
    color: white;
    display: grid;
    place-items: center;
    font-size: 14px;

    &:after {
        content: '';
        position: absolute;
        display: grid;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgb(253, 178, 7);
        animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }
}

.user-avatar1 {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    background-color: rgb(32, 216, 39);
    color: white;
    display: grid;
    place-items: center;
    font-size: 14px;
}

.links1 {
    // padding: 0 10px;
    border-top: 3px solid rgb(32, 216, 39);
    height: 1px;
    line-height: 0.1em;
    width: 10vw;
    margin-left: 20px;
    margin-right: 20px;
}

.links2 {
    // padding: 0 10px;
    border-top: 3px dotted rgb(253, 178, 7);
    height: 1px;
    line-height: 0.1em;
    width: 10vw;
    margin-left: 20px;
    margin-right: 20px;
}

.completed {
    background-color: rgb(32, 216, 39);
    width: 100px;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
}

.inprg {
    background-color: rgb(253, 178, 7);
    width: 100px;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
    animation: blinker 1.5s linear infinite;
}


@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.outcircle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid rgb(253, 178, 7);
    flex-shrink: 0;
    object-fit: cover;
    display: grid;
    place-items: center;

}