<div>
    <div style="width:100%;display:flex;flex-direction: row;">
        <div>
            <div style="display:flex;flex-direction:row;align-items:center">
                <div class="user-avatar1 "><mat-icon>done</mat-icon></div>
                <div class="ml-3 mt-3">
                    <h1 class="stepperTitle">1.Scan SKU</h1>
                    <p class="completed">completed</p>
                </div>
                <div class="links1"></div>
            </div>

        </div>

        <div>
            <div style="display:flex;flex-direction:row;align-items:center">
                <div class="user-avatar1 "><mat-icon>done</mat-icon></div>
                <div class="ml-3 mt-3">
                    <h1 class="stepperTitle">2.Pallet Details</h1>
                    <p class="completed"> completed</p>
                </div>
                <div class="links2"></div>
            </div>


        </div>

        <div style="display:flex;flex-direction:row;align-items:center">

            <div class="outcircle">
                <div class="user-avatar "><mat-icon>update</mat-icon></div>
            </div>
            <div class="ml-3 mt-3">
                <h1 class="stepperTitle">3.Pallet Load</h1>
                <p class="inprg">In Progress</p>
            </div>

        </div>


    </div>

    <h3 style="color:gray;font-size: 18px;" class="ml-4">Pallet Status</h3>
    <div class="textDiv">
        <div>
            <h2>SKU</h2>
            <h2>Pallet Qty</h2>
            <h2>Pallet Number</h2>
            <h2>Boxes to be Scanned</h2>
        </div>
        <div class="ml-5">
            <h2>:</h2>
            <h2>:</h2>
            <h2>:</h2>
            <h2>:</h2>
        </div>
        <div class="ml-5">
            <h2>{{commonService?.confirmData?.['SKU']}}</h2>
            <h2>{{commonService?.confirmData?.['PalletQty']}}</h2>
            <h2>{{commonService?.confirmData?.['PalletId']}}</h2>
            <h2>{{commonService?.confirmData?.['Boxes']}}</h2>
        </div>

    </div>
    <h3 style="color:gray;font-size: 18px;" class="ml-4 mt-4">Loading Status</h3>
    <div style="display:flex;flex-direction:row">
        <div
            style="background-color:rgb(240,248,255);border-radius:10px;height:250px;display: flex;justify-content: center;align-items: center;width:50%">
            <div id="donutchart" style="width:500px;" class="mt-5">
            </div>
            <!-- <div id="donutchart_{{graphIndex}}" style="width:500px;" class="mt-5">
            </div> -->
        </div>
        <div style="background-color:rgb(240,248,255);border-radius:10px;height:250px;display: flex;flex-direction: row;width:50%; padding: 20px 25px;justify-content: space-around;"
            class="ml-3">
            <div class="inspgood">
                <div style="display:flex;flex-direction:row">
                    <mat-icon style="color:green">thumb_up</mat-icon>
                    <p style="font-size: 16px;
                    margin-top: 4px;
                    margin-left: 10px;">Inspection-Good</p>
                </div>

                <h1 class="ml-5" style="font-size:52px;margin-top: 70%;">{{commonService?.liveData?.['GoodBoxes']}}</h1>
            </div>
            <div class="vertical-row "></div>
            <div>
                <div style="display:flex;flex-direction:row">
                    <mat-icon style="color:red">thumb_down</mat-icon>
                    <p style="font-size: 16px;
                
                margin-left: 10px;">Inspection-Failed</p>
                </div>
                <h1 class="ml-5" style="font-size:52px;color:gray;margin-top: 70%;">
                    {{commonService?.liveData?.['BadBoxes']}}</h1>
            </div>

        </div>
    </div>
    <div style="display: flex;
    justify-content: flex-end;" class="mt-5 mb-3">
        <button class="btn" (click)="gotoStatuspage(3)" [disabled]="isReject">{{commonService.packingTypeValue=='Box
            Level'?'Reject
            Box':'Reject Pallet'}}</button>
        <button class="btn ml-3" (click)="gotoStatuspage(2)" *ngIf="commonService.packingTypeValue!=='Box Level'"
            [disabled]="isAccept">Accept
            Partial</button>
        <button class="btn ml-3" (click)="gotoStatuspage(1)"
            [disabled]="isComplete">{{commonService.packingTypeValue=='Box Level'?'Complete
            Box':'Complete Pallet'}}</button>
    </div>
</div>