table {
    width: 100%;
    // background-color: gainsboro;
    border-collapse: collapse;
    border-radius: 5em;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;

}

.mat-form-field {
    width: 100%;
}

// table tr:last-child td

// /*To remove the last border*/
//     {
//     border-bottom: 0 solid
// }