<h1>Master Data</h1>
<h3>Pallet Matrix</h3>
<!-- <div class="example-container ">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
     
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
</div> -->
<div>
    <mat-card class="mat-elevation-z0 card-class">
        <mat-card-title align="right">
            <button mat-raised-button class="add-btn" (click)="openModal('Add', {})">Add New
                Record</button>
        </mat-card-title>
        <mat-card-content>
            <div>
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search here...." #input>
                </mat-form-field>
                <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z0">

                    <!-- Id Column -->
                    <ng-container matColumnDef="PalletMatrixId">
                        <th mat-header-cell *matHeaderCellDef class="table-header"> PalletMatrixID </th>
                        <td mat-cell *matCellDef="let element" class="table-cell">{{element['PalletMatrixId']}} </td>
                    </ng-container>

                    <!-- FG Part Number Column -->
                    <ng-container matColumnDef="FGPartNumberOriginal">
                        <th mat-header-cell *matHeaderCellDef class="table-header"> FG Part Number </th>
                        <td mat-cell *matCellDef="let element" class="table-cell"> {{element['FGPartNumberOriginal']}}
                        </td>
                    </ng-container>

                    <!-- Part Number Column -->
                    <ng-container matColumnDef="FGPartNumber">
                        <th mat-header-cell *matHeaderCellDef class="table-header"> Part Number</th>
                        <td mat-cell *matCellDef="let element" class="table-cell"> {{element['FGPartNumber']}}
                        </td>
                    </ng-container>
                    <!--Box/Bin Column-->
                    <ng-container matColumnDef="BoxQty">
                        <th mat-header-cell *matHeaderCellDef class="table-header"> Box/Bin Qty </th>
                        <td mat-cell *matCellDef="let element" class="table-cell"> {{element['BoxQty']}}
                        </td>
                    </ng-container>
                    <!--PalletQty Column-->
                    <ng-container matColumnDef="PalletQty">
                        <th mat-header-cell *matHeaderCellDef class="table-header"> Pallet Qty </th>
                        <td mat-cell *matCellDef="let element"> {{element['PalletQty']}}
                        </td>
                    </ng-container>
                    <!--PackingIndex Column-->
                    <ng-container matColumnDef="PackingIndex">
                        <th mat-header-cell *matHeaderCellDef class="table-header"> Paking Index</th>
                        <td mat-cell *matCellDef="let element"> {{element.PackingIndex}}
                        </td>
                    </ng-container>
                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="table-header"> Actions </th>
                        <td mat-cell *matCellDef="let element"> <i class="material-icons" id="action-icons"
                                (click)="openModal('Update', element)">create</i>
                            <i class="material-icons" (click)="deleteRowData(element)" id="action-icons">delete</i>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons [length]="100"></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>