<div class="main">
    <div class="row">
        <div class="col-4 firstCol" *ngIf="!isSignUp">
            <div class="paragraph">
                <img src="assets/Images/boschLogo.png" width="200px" height="50px">
                <h1 class="mt-5">Login</h1>
                <p style="font-size:15px;color:gray">Enter your credentials to access your account</p>

                <form class="login-form mt-5" [formGroup]="loginForm">
                    <div class="mt-3">
                        <mat-label>Enter FirstName</mat-label>
                        <br>
                        <mat-form-field appearance="outline" class="input-field">
                            <input matInput type="text" formControlName="firstname">
                        </mat-form-field>
                    </div>
                    <div class="mt-3">
                        <mat-label>Enter LastName</mat-label>
                        <br>
                        <mat-form-field appearance="outline" class="input-field">
                            <input matInput type="text" formControlName="lastname">
                        </mat-form-field>
                    </div>

                    <div class="mt-3">
                        <mat-label>Email</mat-label>
                        <br>
                        <mat-form-field appearance="outline" class="input-field">
                            <input matInput type="email" formControlName="email">

                        </mat-form-field>
                    </div>

                    <!-- <div>
                        <mat-label>Enter UserName</mat-label>
                        <br>
                        <mat-form-field appearance="outline" class="input-field">
                            <input matInput type="text" formControlName="user">
                        </mat-form-field>
                    </div> -->
                    <!-- <div class="mt-3">
                        <mat-label>Password</mat-label>
                        <br>
                        <mat-form-field appearance="outline" class="input-field">
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="pw">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="mt-4 forgotmsg">
                        <mat-checkbox class="example-margin " style="font-size:16px">Remember me</mat-checkbox>
                        <p class="forgotpwd">Forgot password?</p>
                    </div> -->

                    <button mat-raised-button (click)="loginuser()" class="loginbtn mt-4">Login</button>
                    <!-- <p style="color:red" *ngIf="isdoesnotexist">User doesn't exist,Please signup</p>
                    <p class="mt-5" style="font-size:16px">Don't have an account? <span class="signup"
                            (click)="signup()">Sign Up</span>
                    </p> -->
                </form>
            </div>
        </div>
        <!-- <div class="col-4 firstCol" *ngIf="isSignUp">
            <div class="paragraph">
                <img src="assets/Images/boschLogo.png" width="200px" height="50px">
                <h1 class="mt-5">Sign Up</h1>
                <p style="font-size:15px;color:gray">Enter your credentials to access your account</p>

                <form class="login-form mt-5" [formGroup]="signupForm">
                    <div>
                        <mat-label>Enter UserName</mat-label>
                        <br>
                        <mat-form-field appearance="outline" class="input-field">
                            <input matInput type="text" formControlName="username">
                        </mat-form-field>
                    </div>
                    <div class="mt-3">
                        <mat-label>Enter FirstName</mat-label>
                        <br>
                        <mat-form-field appearance="outline" class="input-field">
                            <input matInput type="text" formControlName="firstname">
                        </mat-form-field>
                    </div>
                    <div class="mt-3">
                        <mat-label>Enter LastName</mat-label>
                        <br>
                        <mat-form-field appearance="outline" class="input-field">
                            <input matInput type="text" formControlName="lastname">
                        </mat-form-field>
                    </div>

                    <div class="mt-3">
                        <mat-label>Role</mat-label>
                        <br>
                        <mat-form-field appearance="outline" class="input-field">
                            <mat-select formControlName="operator">
                                <mat-option *ngFor="let val of roles" [value]="val">{{val}} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                     <div class="mt-3">
                        <mat-label>Email</mat-label>
                        <br>
                        <mat-form-field appearance="outline" class="input-field">
                            <input matInput type="email">

                        </mat-form-field>
                    </div> 
                    <div class="mt-3">
                        <mat-label>Password</mat-label>
                        <br>
                        <mat-form-field appearance="outline" class="input-field">
                            <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="pwd">
                            <button mat-icon-button matSuffix (click)="hide1 = !hide1"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button (click)="signUpUser()" class="loginbtn mt-4">Sign Up</button>
                    <p style="color:red" *ngIf="isexist">User already exists</p>
                    <p (click)="navigateLogin()" class="signuplogin mt-2">Login</p>
                </form>
            </div>
        </div>-->
        <div class="col-8 secondCol">
            <img src="assets/Images/loginscreen.png" alt="visionimage" id="badge" class='img-fluid w-100'
                height="100px">
        </div>
    </div>


</div>
<div class="spinner" *ngIf="isLoading">
    <mat-spinner diameter="60"></mat-spinner>
</div>