.logo {
    height: 150px;
    width: 180px;
}

mat-label {
    font-size: 14px;
    color: gray;
    font-weight: 500;
}

.login {
    height: 50px;
    width: 150px;
    font-size: 20px;

    border: 2px solid skyblue !important;
    color: #065bd2 !important;
    font-weight: bold !important;
    border-radius: 10px !important;
}

.img-fluid {
    // height: 973px;
    height: 100vh !important;
}

.loginbtn {
    width: 300px;
    height: 50px;
    font-size: 18px;
    border-radius: 12px;
    background-color: rgb(53, 121, 187);
    color: white
}

.input-field {
    width: 300px;
    height: 50px;

}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.firstCol {
    display: flex;
    justify-content: center;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.paragraph {
    margin-top: 6rem
}

h1 {
    font-weight: 700
}

.forgotmsg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forgotpwd {
    color: rgb(53, 121, 187);
    font-weight: 500;
    margin-top: 2px;
    font-size: 16px
}

.signup {
    color: rgb(53, 121, 187);
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
}

.secondCol {
    display: flex;
    justify-content: flex-end;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.signuplogin {
    text-decoration: underline;
    font-size: 18px;
    cursor: pointer;
}

.spinner {
    position: absolute;
    top: 60%;
    left: 15%;

}