.progress {
    width: 70%;
    background-color: aliceblue;
    // height: 50%;
    padding: 50px;
    display: flex;
    align-items: center;
}

.prgbar {
    border-radius: 10px;
    height: 10px;
}

.statusMsg {
    width: 30%;
    background-color: aliceblue;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 0 20px !important;
}

.statusMsg mat-icon {
    font-size: 30px;
    animation: blinker 1.5s linear infinite;
}

.statusText {
    animation: blinker 1.5s linear infinite;
}


@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.firstDiv {
    display: flex;
    flex-direction: row;
}

.pId {
    background-color: rgb(244, 247, 250);
    border-radius: 10px;
    padding: 10px 25px;
    width: 20vw;
    display: flex;
    align-items: center;


}

.pIdBox {
    border: 1px solid rgb(53, 121, 187);
    color: rgb(53, 121, 187);
    padding: 10px 10px;

    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    // font-weight: bold;
    font-size: 20px;
}

.pIdrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boxqtyrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.secondCol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgDiv {
    border: 3px dotted grey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
}

h3 {
    margin: 0 !important;
}

.confirms {
    font-size: 28px;
    padding: 10px;
    font-weight: 500;
    color: limegreen;
}

.icon {
    font-size: 40px;
}

.orientation {
    background-color: aliceblue;
    color: rgb(32, 216, 39);
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.graphCol {
    display: flex;
    flex-direction: row;
}

.alertText {
    background-color: rgb(255, 209, 209);
    display: flex;
    align-items: center;
    // border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    // border-bottom-left-radius: 10px;
    padding-left: 10px;
    width: 100%;
}

.alerts {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(255, 209, 209);
    border-radius: 10px;
    height: 110px;
    width: 49%;
}



.iconDiv {
    display: flex;
    // align-items: center;
    padding: 30px 45px 15px 30px;
}

.alerticon {
    font-size: 45px;
    animation: ring 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes ring {

    0%,
    100% {
        transform: rotate(0deg);
    }

    20%,
    60% {
        transform: rotate(6deg);
    }

    40%,
    80% {
        transform: rotate(-6deg);
    }
}

.prgpercen {
    font-size: 45px;
    color: rgb(53, 121, 187)
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: rgb(53, 121, 187) !important;
}

.alertmsgs {
    display: flex;
}

.palletcompleted {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}