<div *ngIf="commonService.palletstatus">
    <!-- *ngIf="!this.commonService.palletstatus" -->
    <div class="firstDiv">
        <div class="progress">
            <div>
                <h1 class="prgpercen">
                    {{actual}}%
                </h1>
            </div>

            <div style="width: 100%;" class="ml-4">
                <div style="display:flex;justify-content:space-between">
                    <h2>Actual:{{actual}}</h2>
                    <h2>Target:{{target}}</h2>
                </div>
                <mat-progress-bar mode="determinate" [value]="actual" class="prgbar"></mat-progress-bar>
            </div>


        </div>
        <div class="statusMsg" [ngStyle]="{'color':commonService.liveData['IsForNexeed']==1?'rgb(32, 216, 39)':'red'}">
            <mat-icon
                class="material-icons-outlined icon">{{commonService.liveData['IsForNexeed']==1?'thumb_up_alt':'thumb_down_alt'}}</mat-icon>
            <h1 class="statusText">
                {{commonService.liveData['IsForNexeed']==1?'ACCEPTED':'Rejected'}}
            </h1>
        </div>
    </div>
    <div class="mt-5">
        <div class="row">
            <div class="col-6">
                <div class="pIdrow">
                    <div>
                        <h3 style="color:gray;font-size: 18px;" class="ml-4">Pallet ID</h3>
                        <div class="pId">
                            <h3 class='pIdBox'>{{commonService.liveData['PalletId']}}</h3>
                        </div>
                    </div>
                    <div>
                        <h3 style="color:gray;font-size: 18px;" class="ml-4">Part Number</h3>
                        <div class="pId">
                            <h3 class='pIdBox'>{{commonService.liveData['FGPartNumber']}}</h3>

                        </div>
                    </div>

                </div>
                <div class="pIdrow mt-5">

                    <div>
                        <h3 style="color:gray;font-size: 18px;" class="ml-4">Box Number</h3>
                        <div class="pId">
                            <h3 class='pIdBox'>{{commonService.liveData['BoxId']}}</h3>
                        </div>
                    </div>
                    <div>
                        <h3 style="color:gray;font-size: 18px;" class="ml-4">Box Quantity</h3>
                        <div class="pId">
                            <h3 class='pIdBox'>{{commonService.liveData['BoxQty']}}</h3>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 secondCol">
                <div class="imgDiv">
                    <!-- <img [src]="/assets/Images/box1.jpg" class="boximgs"> -->
                    <img [src]="commonService.liveData['Img1']" class="boximgs" style="width:70%;height:70%">

                </div>
                <div class="imgDiv ml-3">
                    <!-- <img [src]="/assets/Images/box2.jpg" class="boximgs"> -->
                    <img [src]="commonService.liveData['Img2']" class="boximgs" style="width:70%;height:70%">

                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="row">
                <div class="col-6 graphCol">

                    <div
                        style="background-color:rgb(240,248,255);border-radius:10px;height:250px;display: flex;justify-content: center;align-items: center;width:100%">
                        <div class="mt-5" id="donutchart1" style="width:500px;">
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="boxqtyrow ">

                        <div>
                            <h3 style="color:gray;font-size: 18px;" class="ml-4">MES Confirmation</h3>
                            <div class="pId">
                                <h3 class="confirms"
                                    [ngStyle]="{'color':commonService.liveData['IsMES']==1?'rgb(32, 216, 39)':'red'}">
                                    {{commonService.liveData['IsMES']==1?'OK':'NOT OK'}}</h3>
                            </div>
                        </div>
                        <div>
                            <h3 style="color:gray;font-size: 18px;" class="ml-4">Nexeed Entry</h3>
                            <div class="pId">
                                <h3 class="confirms"
                                    [ngStyle]="{'color':commonService.liveData['IsForNexeed']==1?'rgb(32, 216, 39)':'red'}">
                                    {{commonService.liveData['IsForNexeed']==1?'OK':'NOT OK'}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="boxqtyrow mt-5">

                        <div>
                            <h3 style="color:gray;font-size: 18px;" class="ml-4">Orientation Check</h3>
                            <div class="pId">
                                <h3 class="confirms"
                                    [ngStyle]="{'color':commonService.liveData['IsOrientation']==1?'rgb(32, 216, 39)':'red'}">
                                    {{commonService.liveData['IsOrientation']==1?'OK':'NOT OK'}}</h3>
                            </div>
                        </div>
                        <div>
                            <h3 style="color:gray;font-size: 18px;" class="ml-4">Part Check</h3>
                            <div class="pId">
                                <h3 class="confirms"
                                    [ngStyle]="{'color':commonService.liveData['IsFGPartNumber']==1?'rgb(32, 216, 39)':'red'}">
                                    {{commonService.liveData['IsFGPartNumber']==1?'OK':'NOT OK'}}</h3>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="alertmsgs mt-5" *ngIf="commonService.liveData['Alert']!==null">
        <div class="alerts" *ngIf="commonService.liveData['Alert'][0]">
            <div class="iconDiv">
                <mat-icon color="warn" class="material-icons-outlined alerticon">notification_important</mat-icon>
            </div>

            <div class="alertText">
                {{commonService.liveData['Alert']}}
                <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni praesentium id totam
                perspiciatis
                animi neque temporibus adipisci voluptatum nihil earum incidunt suscipit, cum distinctio
                perferendis tempora illum labore repellat ex! -->
            </div>
        </div>
        <!-- <div class="alerts ml-4" *ngIf="commonService.liveData['Alert'][1]">
            <div class="iconDiv">
                <mat-icon color="warn" class="material-icons-outlined alerticon">notification_important</mat-icon>
            </div>

            <div class="alertText ">

                
                {{commonService.liveData['Alert'][1]}}
            </div>
        </div> -->

    </div>
</div>
<!-- <div
    style="background-color:rgb(240,248,255);border-radius:10px;height:250px;display: flex;justify-content: center;align-items: center;width:100%">
    <div class="donutchart1 mt-5" style="width:500px;">
    </div>
</div> -->
<div *ngIf="!commonService.palletstatus" class="palletcompleted">
    <h1 style="color: darkslateblue;font-size: 100px;">Waiting for pallet...</h1>
</div>