<div>
    <!-- <h3 style="display:flex;justify-content:end;margin-right:150px">Shift A</h3> -->
    <h1 class="title mt-3">Pallet Details</h1>
    <div class="mt-5">

        <div>
            <table width="100%">
                <tr class="firstrow">
                    <th>DATE</th>
                    <th>TIME</th>
                    <th>SHIFT</th>
                    <th>PART NUMBER</th>
                    <th>PALLET-ID</th>
                    <th>PART QUANTITY-PLAN</th>
                    <th>PART QUANTITY-ACTUAL</th>
                    <th>STATUS</th>
                </tr>
                <tr *ngFor="let item of tableData">
                    <td style="font-weight:bold">{{item['date']}}</td>
                    <td style="font-weight:bold">{{item['time']}}</td>
                    <td style="font-weight:bold">{{item['shift']}}</td>
                    <td style="font-weight:bold;">{{item['partNo']}}</td>
                    <td style="font-weight:bold">{{item['palletId']}}</td>
                    <td style="font-weight:bold">{{item['partQtyPlan']}}</td>
                    <td style="font-weight:bold">{{item['partQtyActual']}}</td>
                    <td *ngIf="item['status']=='Reject'">
                        <span class="statusText"
                            style="background-color:rgb(255, 90, 90);padding: 10px 59px;">{{item['status']}}</span>
                    </td>
                    <td *ngIf="item['status']=='Completed'">
                        <span class="statusText"
                            style="background-color:rgb(32, 216, 39);padding: 10px 45px;">{{item['status']}}</span>
                    </td>
                    <td *ngIf="item['status']=='PartialClosed'">
                        <span style="background-color:rgb(192, 192, 192);padding: 10px 38px;"
                            class="statusText">{{item['status']}}</span>
                    </td>
                    <td *ngIf="item['status']=='NotCompleted'">
                        <span class="statusText" style="background-color:rgb(90, 136, 255);">{{item['status']}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>