<div>
    <div style="width:70%;display:flex;flex-direction: row;">

        <div>
            <div style="display:flex;flex-direction:row;align-items:center">
                <div class="user-avatar"><mat-icon>done</mat-icon></div>
                <div class="links"></div>
            </div>
            <p>Step1</p>
            <h1 class="stepperTitle">Scan SKU</h1>
            <p class="completed">completed</p>
        </div>
        <hr>
        <div>
            <div style="display:flex;flex-direction:row;align-items:center">
                <div class="user-avatar"><mat-icon>done</mat-icon></div>
                <div class="links"></div>
            </div>

            <p>step2</p>
            <h1 class="stepperTitle">Pallet Details</h1>
            <p class="completed">completed</p>
        </div>
        <hr>
        <div>
            <div class="user-avatar "><mat-icon>inbox</mat-icon></div>
            <p>step3</p>
            <h1 class="stepperTitle">Pallet Load</h1>
            <p class="completed">InProgress</p>
        </div>


    </div>
    <h1 style="font-size: 24px;font-weight: 500;" class=" mt-3">Palletize Details</h1>
    <div>
        <div class="row">
            <div class="col-6">
                <h3 style="color:gray;font-size: 18px;" class="ml-4">Pallet ID</h3>
                <div class="palletdetails">
                    <div style="border:2px solid rgb(53, 121, 187);padding:10px 10px;border-radius: 10px;color:rgb(53, 121, 187);font-size: 24px;"
                        class="">
                        101102</div>
                </div>
            </div>
            <div class="col-6">
                <h3 style="color:gray;font-size: 18px;" class="ml-4">Pallet Status</h3>
                <div class="palletdetails">
                    <div style="width:30px;height:30px;background-color:red;border-radius:10px"></div>
                    <div style="border:2px solid rgb(53, 121, 187);padding:10px 10px;border-radius: 10px;color:rgb(53, 121, 187);font-size: 24px;"
                        class="ml-3">
                        Closed</div>
                </div>
            </div>
        </div>
    </div>
    <div style="display:flex;flex-direction:row">
        <div style="width: 50%;">
            <img src="assets/Images/Bosch-4.png" style="width:70%;height:70%">
        </div>
        <div class="mb-2" style="display: flex;width: 50%;
        align-items: flex-end;justify-content: flex-end;">
            <button
                style="border:2px solid rgb(53, 121, 187);padding:10px 10px;border-radius: 10px;color:rgb(53, 121, 187);width:200px;font-size: 24px">Next
                Pallet</button>
        </div>
    </div>

</div>