.user-avatar {
    height: 37px;
    width: 37px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    background-color: rgb(32, 216, 39);
    color: white;
    display: grid;
    place-items: center;
    font-size: 14px;
}

.links {
    // padding: 0 10px;
    border-top: 3px solid rgb(32, 216, 39);
    height: 1px;
    line-height: 0.1em;
    width: 20vw;
    margin-left: 20px;
    margin-right: 20px;
}

.completed {
    background-color: rgb(32, 216, 39);
    width: 100px;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
}

.palletdetails {
    display: flex;
    flex-direction: row;
    background-color: rgb(244, 247, 250);
    padding: 20px 20px;
    align-items: center;
    border-radius: 10px;

}