/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.green-progress .mat-progress-bar-fill::after {

    background-color: #3CBE41 !important;





}

.green-progress {

    height: 20px !important;

    border-radius: 10px;

    border: 1px solid gray;

    width: 400px !important;

    margin-left: 20px;





}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}