<div>
    <h3>How to use ?</h3>
    <ul style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px;">
        <li>Login with your firstname,lastname and Email.If successfully loggedin, it navigates to the Sku scan
            page.otherwise it redirects to login page again. </li>
        <li>If you want to filter the data for Date,Shift,PartNumber and Status.select the data whatever you want to
            filter and click on the filter button.</li>
        <li>When you click on the clear button ,it will show popup with "Are you sure want to clear the filter?".</li>
        <li>If you click on YES ,it will clear all the filters.</li>
        <li>If you click on NO ,popup will close and filters are not cleared.</li>
        <li>when you click on the <strong>Scan the Pallet</strong> button the page navigates to loading view,you have to
            scan the pallet with barcode scanner.</li>
        <li>Whenever you scan the pallet,the FGPartnumber will display in inputfield and automatically load other
            details based on part number. </li>
        <li>In loading view page you must be select both Outbound Feed and Packing Type. </li>
        <li>After selection Click on the <strong>Start</strong> button .It will show Confirm modal with selected data .
        </li>
        <li>Before confirm Check the data and click on the <strong>Confirm Pallet </strong> button.Once click on it
            ,page navigates to
            the pallet Status page and Conveyor will start.
        </li>
        <li>If any value is mismatched click on the Scan Again button and need to scan the pallet again from scratch.
        </li>
        <li>Continuosly update the status of the boxes in pallet status page. Once complete the entire pallet,click on
            the button, based on the status of pallet .we have below three buttons. </li>

        <li class="palletstatus">Reject Partial</li>
        <li class="palletstatus">Accept Partial</li>
        <li class="palletstatus">Complete Pallet</li>

        <li>Before you click on the button check the count of boxes to be scanned count and good or bad Boxes count in
            pallet.</li>
        <li>If all boxes are good then you can click on the Complete pallet.Otherwise you can click on Accept partial or
            Reject Partial.</li>
        <li>When you click on the <strong>Complete Pallet</strong> button,page navigates to scan again and scan the next
            pallet.The
            pallet status will update in the pallet details table in sku scan page. </li>
        <li>When you click on the <strong>Accept Partial</strong> button ,page navigates to the scan again and scan the
            next pallet.The
            pallet status will update in the pallet details table in sku scan page.</li>
        <li>When you click on the <strong>Reject Partial</strong> button ,page navigates to the scan again and scan the
            next pallet.The
            pallet status will update in the pallet details table in sku scan page.</li>

    </ul>

</div>