.sidenav-container {
    // background-color: #1bbedf;



    .active-label-color {
        color: #ffffff;
    }

    .active-link {
        background-color: #05505c;

    }

}

.sidenav-main-container {
    height: 100%;
}

.mat-drawer {
    position: fixed;
}

// .mat-drawer-side {
//     /* border-right: solid 1px rgba(0,0,0,.12); */
//     border-right: #0087ca 1px solid;
// }

.example-spacer {
    flex: 1 1 auto;
}

.app-name {
    color: #1a72ae;
    font-size: 16px;
}

// .menu-icon-color {
//     color: #1a72ae;
// }

// .list-icon-color {
//     color: #ffffff;
// // }

// .mat-toolbar {
//     background-color: #e0dddd;
//     height: 60px;

//     a:hover {
//         text-decoration: none;
//     }
// }

// .menu-open {
//     width: 240px;
// }

// .menu-close {
//     width: 55px;
// }

.sidenav-container {
    background-color: rgb(246, 244, 245);

    .mat-expansion-panel {
        background-color: transparent;
    }

    .mat-list-base .mat-list-item,
    .mat-list-base .mat-list-option {
        height: 38px;
        color: gray;
        font-size: 16px;
        border-radius: 25px;
    }

    .mat-expansion-panel-header.mat-expanded {
        height: 38px;
    }

    .sub-menu-icon {
        width: 12px;
        height: 12px;
        font-size: 12px;
    }

    // .sub-menu-active-icon-bg {
    //     background: #004a76;
    //     border-radius: 5px;
    //     color: #ff7f00;
    // }

    // .active-icon-color {
    //     color: #ff7f00;
    // }

    .active-label-color {
        color: #ffffff;
    }

    .active-link {
        background-color: #004a76;
    }
}

.sidenav-main-container {
    height: 100%;
}

.user-avatar {
    height: 37px;
    width: 37px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    background-color: gray;
    color: white;
    display: grid;
    place-items: center;
    font-size: 14px;
}

// .mat-drawer-side {
//     /* border-right: solid 1px rgba(0,0,0,.12); */
//     border-right: #00b4d8 1px solid;
// }
.mat-drawer-content {

    height: 100%;
    overflow: hidden;
}

button:focus {
    outline: 0 !important;
}

::ng-deep .mat-drawer-inner-container {
    // width: 100%;
    // height: 100%;
    display: grid !important;
}