<mat-sidenav-container class="sidenav-main-container">
    <mat-sidenav mode="side" opened class="sidenav-container">

        <div>
            <div class="ml-4 my-3">

                <img src="assets/Images/boschLogo.png" alt="App logo" style="width:150px;">

            </div>
            <mat-nav-list>
                <mat-accordion displayMode="flat" multi="true">
                    <ng-container *ngFor="let menuItem of menuOptions;let i=index">
                        <mat-expansion-panel hideToggle class="mat-elevation-z0 ml-1">
                            <mat-expansion-panel-header class="px-0">
                                <mat-panel-title>

                                    <mat-list-item [routerLink]="menuItem.routerLink"
                                        [ngClass]="{'active-link': applyActiveLinkBasedOnRoute(menuItem)}"
                                        *ngIf="!menuItem.subMenu; else showSubMenuTitle" [disabled]="common.isdisabled">

                                        <mat-icon mat-list-icon [ngClass]="{'sub-menu-active-icon-bg': applyActiveLinkBasedOnRoute(menuItem) && !isMenuOpen,
                                            'active-icon-color': applyActiveLinkBasedOnRoute(menuItem)}">
                                            {{menuItem.icon}}
                                        </mat-icon>

                                        <div mat-line class="pl-2"
                                            [ngClass]="{'active-label-color': applyActiveLinkBasedOnRoute(menuItem)}">
                                            {{menuItem.title}}
                                        </div>

                                    </mat-list-item>

                                    <ng-template #showSubMenuTitle>
                                        <mat-list-item
                                            [ngClass]="{'active-link': applyActiveLinkBasedOnRoute(menuItem) }"
                                            (click)="toggleMenu(true)">

                                            <!-- <mat-icon mat-list-icon [ngClass]="{'sub-menu-active-icon-bg':applyActiveLinkBasedOnRoute(menuItem) && !isMenuOpen,
                                                'active-icon-color': applyActiveLinkBasedOnRoute(menuItem)}">
                                                    {{menuItem.icon}}</mat-icon> -->

                                            <div mat-line class="pl-2"
                                                [ngClass]="{'active-label-color': applyActiveLinkBasedOnRoute(menuItem)}">
                                                {{menuItem.title}}
                                            </div>

                                        </mat-list-item>
                                    </ng-template>

                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <ul *ngIf="menuItem && menuItem.subMenu && menuItem.subMenu.length" class="mb-0 mr-1">
                                <mat-list-item *ngFor="let subMenu of menuItem.subMenu;let i=index"
                                    [routerLink]="subMenu.routerLink"
                                    [ngClass]="{'active-link': applyActiveLinkBasedOnRoute(subMenu)}">

                                    <mat-icon mat-list-icon class="sub-menu-icon"
                                        [ngClass]="{'active-icon-color': applyActiveLinkBasedOnRoute(subMenu)}">
                                        arrow_right_alt</mat-icon>

                                    <div mat-line
                                        [ngClass]="{'active-label-color': applyActiveLinkBasedOnRoute(subMenu)}">
                                        {{subMenu.title}}
                                    </div>

                                </mat-list-item>
                            </ul>

                        </mat-expansion-panel>
                    </ng-container>
                </mat-accordion>
            </mat-nav-list>
            <hr class="ml-2 mr-2">
            <div class="" style="display:flex;flex-direction:row;font-size:16px;color:gray;">
                <mat-icon class="ml-4" (click)="loggedout()">logout</mat-icon>
                <button style="display: flex;border: none;font-size:16px;color:gray;
                    align-items: center;
                    background-color: transparent;" class="ml-3" (click)="loggedout()">
                    Logout
                </button>
            </div>
        </div>
        <div>
            <!-- <hr class="ml-2 mr-2"> -->
            <div class="" style="">
                <hr class="ml-2 mr-2">
                <div style="display:flex;flex-direction:row;border:1px solid gray;border-radius:10px;height:50px;align-items: center;"
                    class="ml-3 mr-2" (click)="profileopen()">
                    <div class="user-avatar ml-2">{{profile}}</div>
                    <div class="ml-2 mt-3" style="line-height:0.5">
                        <p style="font-size:16px;">{{username}}</p>
                        <p style="color:gray">Operator</p>
                    </div>
                </div>
                <div *ngIf="isChangePwd" class="mt-2 ml-3">
                    <button (click)="changePassword()" mat-raised-button color="primary">Change Password</button>
                </div>
            </div>
        </div>



    </mat-sidenav>

    <mat-sidenav-content class="main-bg" style="background-color: white;">
        <div class="px-4 pt-2 mt-3">
            <div style="display:flex;justify-content:flex-end">
                <h3 style="color:gray;font-weight: 500;">{{shift==1?'Shift A':(shift==2?'Shift B':'Shift
                    C')}} : {{date|date:'medium'}}
                </h3>
            </div>

            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>