<mat-dialog-content>
    <p
        [ngStyle]="{'color':(dialogdata==='Record Updated Successfully'||dialogdata==='Record Added Successfully'|| dialogdata==='Record Deleted Successfully')?'green':'red'}">
        {{dialogdata=='something'?'Oops,something went wrong.Please try again.':dialogdata}}
    </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <div
        *ngIf="dialogdata!=='Exceeds pallet quantity!' && dialogdata!=='something' && dialogdata!=='Please Check and close the Pallet' && dialogdata!=='Data not found.Please scan again...' && dialogdata!=='Are you sure want to delete?' && dialogdata!=='Record Updated Successfully'&& dialogdata!=='Record Added Successfully'&& dialogdata!=='Record Deleted Successfully'">
        <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">{{buttonLabes[0]}}</button>
        <button mat-raised-button mat-dialog-close tabindex="-1">{{buttonLabes[1]}}</button>
    </div>
    <div *ngIf="dialogdata==='Exceeds pallet quantity!'">
        <button mat-raised-button color="primary" mat-dialog-close tabindex="1" (click)="onConfirmClick()">OK</button>
    </div>
    <!-- <div *ngIf="dialogdata!='something' && dialogdata=='Exceeds pallet quantity!'">
        <button mat-raised-button color="primary" mat-dialog-close tabindex="-1">OK</button>
    </div> -->
    <div *ngIf="dialogdata==='something' ">
        <button mat-raised-button color="primary" mat-dialog-close tabindex="-1">OK</button>
    </div>
    <div *ngIf="dialogdata==='Data not found.Please scan again...' ">
        <button mat-raised-button color="primary" mat-dialog-close tabindex="1" (click)="onConfirmClick()">OK</button>
    </div>
    <div *ngIf="dialogdata==='Are you sure want to delete?'">
        <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">{{buttonLabes[0]}}</button>
        <button mat-raised-button mat-dialog-close tabindex="-1">{{buttonLabes[1]}}</button>
    </div>
    <div
        *ngIf="dialogdata==='Record Updated Successfully'||dialogdata==='Record Added Successfully'||dialogdata==='Record Deleted Successfully'">

        <button mat-raised-button color="primary" mat-dialog-close tabindex="-1">OK</button>
    </div>



</mat-dialog-actions>